body{
    width: 850px;
    height: 100vh;
    background-color: rgb(32, 32, 211);
    margin: 0 auto;
}
.pageHeading{
    text-align: center;
    min-width:50px;
    min-height:150px;
    background-image: url('images/title.png');
    background-position: center;
    background-repeat: no-repeat; 
}
.gamePage{
    display:flex;
    flex-direction: column;
    justify-content:center ;
    border:2px solid white;
    background-color: rgba(245, 245, 116, 0.938);
    padding:20px;
}

.minesweeperGrid{
    text-align: center;
    margin: auto; 
    padding:20px;
}
.mineRow{
    display: flex;
    flex-direction: row; 
}
.mineSquare{
    border:0.5px solid grey;
    width:30px;
    height:30px;
}
.inputDivClass{
    width:40%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto; 
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    padding:20px; 
    
}
.msgDisplay{
    display:flex;
    width:40%;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;  
    border:rgb(116, 96, 96) solid 1px;
    height:50px;
    background-color: black; 
}
.minesNumberDisplay{   
    color:red;
    font-size: 50px;
    font-family: 'Arial Narrow';
}
#gameStatusImage{ 
    min-width:50px;
    background-image: url("images/happy.png");
    background-position: center;
    background-repeat: no-repeat;    
}
.timer{  
    float:right;
    color:red;
    font-size: 50px;
    font-family: 'Arial Narrow';
}
.startBtn {
    width: 5em;  height: 2em;
}
#messegeDiv{
    width: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin:0 auto;
    text-align: center;
}
